/*-------------------------------------------------------------------------------------------------------------
| Header 
--------------------------------------------------------------------------------------------------------------*/

div.logo {
	background-image:url('http://fc00.deviantart.net/fs71/f/2012/102/f/1/pokeball_sprite_by_creepypasta81691-d4vzl6r.png');
	background-repeat:repeat-x;
	float: left;
	width: 93%;
	height: 30px;
	margin-top: 20px;
	opacity: 0.85;
}

img#pokemon-trainer {
	height: 50px;
	width: auto;
}

/*-------------------------------------------------------------------------------------------------------------
| Navigation Bar 
--------------------------------------------------------------------------------------------------------------*/

div.nav-bar {
	background-color: #4C4C4C;
	float: left;
	width: 100%;
	border: 1px solid black;
}


ul.main-nav {
	list-style-type: none;
	float: left;
	width: 100%;
	padding: 0;
	margin: 0;
	margin-left: 28px;
}

li.nav {
	display: inline;
}

a.nav {
	border-right: 1px solid black;
	border-left: 2px solid #373B3F;
	width: 86px;
	text-decoration: none;
	text-align: center;
	padding: 10px;
	font-weight: bold;
	color: white;
	float: left;
}

a.nav.first {
	border-left: 1px solid black;
}

a.nav:hover {
	background-color: red;
}


/*-------------------------------------------------------------------------------------------------------------
| Body/Content
--------------------------------------------------------------------------------------------------------------*/

div.content-wrapper {
	margin: 8px;
	padding-top: 2px;
}
body {
	background-color: #EFFFE7;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}

/*-------------------------------------------------------------------------------------------------------------
| Pokemon Types
--------------------------------------------------------------------------------------------------------------*/

span.type-container {
	display: inline-block;
	text-align: center;
	border-radius: 10px;
}

span.large-pill {
	border: 2px solid #5E5E5E;
	line-height: 28px;
	width: 80%;
	max-width: 110px;
	font-family:  euphemia;
	margin: 8px;
}

span.inline-type {
	width: 47%;
	max-width: 110px;
	line-height: 24px;
	font-size: 90%;
	border: 1px solid #5E5E5E;
}

.background-color-bug, #background-color-bug {
	background-color: #A3D119;
	color: white;
}
.background-color-dark, #background-color-dark {
	background-color: #191919;
	color: white;
}
.background-color-dragon, #background-color-dragon {
	background-color: #8A00E6;
	color: white;
}
.background-color-electric, #background-color-electric {
	background-color: #FFCC00;
	color: white;
}
.background-color-fairy, #background-color-fairy {
	background-color: #FFADEB;
	color: black;
}
.background-color-fighting, #background-color-fighting {
	background-color: #990000;
	color: white;
}
.background-color-fire, #background-color-fire {
	background-color: #FF4719;
	color: white;
}
.background-color-flying, #background-color-flying {
	color: white;
	background-color: #0066FF;
}
.background-color-ghost, #background-color-ghost {
	color: white;
	background-color: #8A2E8A;
}
.background-color-grass, #background-color-grass {
	color: white;
	background-color: #19D119;
}
.background-color-ground, #background-color-ground {
	background-color: #FFE271;
	color: black;
}
.background-color-ice, #background-color-ice {
	background-color: #66FFFF;
	color: black;
}
.background-color-normal, #background-color-normal {
	color: white;
	background-color: #ADAD85;
}

.background-color-poison, #background-color-poison {
	color: white;
	background-color: #D119A3;
}

.background-color-psychic, #background-color-psychic {
	color: white;
	background-color: #FF3399;
}

.background-color-rock, #background-color-rock {
	color: white;
	background-color: #AD8533;
}

.background-color-steel, #background-color-steel {
	background-color: #CCCCFF;
	color: black;
}

.background-color-water, #background-color-water {
	color: white;
	background-color: #0066FF;
}
