body {
	text-align: center;
}

div.pokemon-basic {
	padding: 50px 100px;
}

div.pokemon-image {
	display: inline-block;
	height: 400px;
	width: 400px;
}

div.pokemon-image img {
	width: 300px;
	height: auto;
	margin-left: 50px;
	box-shadow: 0px 0px 3px 1px #AAA;
}

span.pokemon-name h1 {
	text-align: center;
	margin: 0px;
	padding: 0px;
}

/*-------------------------------------------------------------------------------------------------------------
| General Table
--------------------------------------------------------------------------------------------------------------*/

div.general-table {
	border: 1px solid #AAA;
	float: right;
	margin-right: 100px;
	border-radius: 20px;
	box-shadow: 0px 0px 4px 2px #AAA
}

table.general-table {
	width: 400px;
	height: 400px;
	border-collapse: collapse;
	text-align: center;
}
table.general-table tbody {
	color: black;
}

table.general-table thead {
	border-radius: 20px;
	line-height: 50px;
	font-size: 130%;
}

table.general-table tbody tr td {
	border: 3px solid #C6C6C6;
	background-color: white;
}

/*-------------------------------------------------------------------------------------------------------------
| Moves Table
--------------------------------------------------------------------------------------------------------------*/

div.moves-table {
	text-align: center;
	display: inline-block;
	border: 1px solid black;
	border-collapse: collapse;
	border-radius: 20px;
	box-shadow: 0px 0px 3px 2px #AAA;
}

table.moves-table {
	border-collapse: collapse;
}

table.moves-table tbody{
	color: black;
}

table.moves-table tbody tr, table.moves-table tbody td{
	border: 1px solid black;
	min-width: 85px;
	background-color: white;
}