div.search-wrapper {
	float: left;
	width: 49%;
}

div.results-right {
	background-color: white;
	float: right;
	border: 2px solid grey;
	border-radius: 10px;
	width: 50%;
	max-width: 50%;
	height: 500px;
	overflow: scroll;
	overflow-x: hidden;
}

.results {
	text-align: center;
}

li.results {
	width: 100px;
	display: inline-block;
	margin: 20px;
}

img.results {
	width: auto;
	height: auto;
	max-width: 100px;
	max-height: 100px;
}